<html>

<head>
    <title>Player Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgba(123, 167, 199, 0.619);
        }

        .welcome-message {
            text-align: center;
            margin-top: 50px;
        }

        .welcome-message h1 {
            margin-top: 20%;
            font-size: 2em;
            color: black;

        }

        .next-button {
            display: block;
            height: 2rem;
            width: 17rem;
            padding: 0.5rem;
            background-color: mediumorchid;
            text-align: center;

            margin-left: 45rem;
            font-size: 18px;
            color: white;
            text-decoration: none;
            border-radius: 1rem;
        }

        .next-button:hover {
            background-color: mediumseagreen;
        }
    </style>
</head>


<body>
    <div class="welcome-message">
        <h1>Welcome!</h1>
        <a href="/players" class="next-button">Go to Players</a>
    </div>

</html>